.DS_Store
.ipynb_checkpoints/*.ipynb
.ipynb_checkpoints


# Data Files #
*.xlsx
*.xls
*.csv
*.tsv
data/
mercari-price-suggestion-challenge/
word2vec-nlp-tutorial/

# Package Files #
*.zip
*.war
*.rar
*.7z