.DS_Store
.ipynb_checkpoints/*.ipynb
.ipynb_checkpoints
.mercari-price-suggestion-challenge
.word2vec-nlp-tutorial

# Data Files #
.xlsx
.xls
.csv
.tsv
.data
.gold
.OpinosisDataset1.0

# Package Files #
.zip
.war
.rar
.7z